header.topnav {
    height: 100vh;
}


header > h1 {
    margin: auto;
    color: white;
    font-size: 3rem;
    text-align: center;
}


@media only screen and (max-width: 374px) {
    header> h1 {
        font-size: 2rem;
    }

    .brand>img {
        width: 200px;
    }
}