.profile-page {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 75%;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


main {
background-color: #f1f0ed;
}

.my-articles {
    margin: 0 3rem;
}

.essay-card-info {
    width: 100%;
    padding: 0 1rem;
}

@media only screen and (max-width: 900px) {
    .profile-page {
        flex-direction: column;
        width: 90%;
    }

    .my-articles {
        margin: auto .25em;
    }

    .essay-card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    .essay-card:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}