* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  color: #800033;
}
li {
  list-style: none;
}

header.topnav {
  background-image: url(../images/pexels-oleg-magni-1040473.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 60vh;
  width: 100%;
  top: 0%;
  left: 0%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.bg-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) !important;
}

.brand > img {
  width: 400px;
}

.navbar-toggler {
  background-color: #fff;
}

.nav-link {
  color: #fff !important;
  font-size: 1.75rem;
}

.nav-link:hover {
  color: #800033 !important;
  transition: 0.4s;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.dropdown-item {
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}

.catch-phrase {
  position: relative;
  margin: auto auto;
  overflow: hidden;
  width: 80vw;
  text-align: center;
}

.catch-phrase > p {
  padding: 1rem;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.emphasis {
  text-transform: capitalize;
  font-size: 4rem;
}

/* Article */
article {
  width: 90%;
  margin: auto;
  color: #726c61;
}

article > h1 {
  padding: 1rem;
  padding-left: 0;
  /* color: #2a6385; */
  text-decoration: u;
}

.trending-discussions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "1 2 3"
    "4 5 6";
  gap: 1rem;
  margin-bottom: 2rem;
}

.top {
  display: flex;
}

.trending-article {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.trending-number {
  font-size: 2rem;
  font-weight: 700;
  color: #000000a1;
}

.trending-title {
  font-size: 1.25rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trending-date-length {
  font-size: small;
}

.read-more-communities-container {
  /* margin: 0 5%; */
  /* padding: 3rem 0; */
  display: flex;
  background-color: #f1f0ed;
  /* margin: auto; */
}

.something-to-read {
  padding: 2rem;
  /* width: 60%; */
}

/* section */

.essay-card {
  /* flex: 2 1 2; */
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}

.essay-card-info {
  width: 70%;
}

.essay-card-info > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.circle {
  margin-left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.red {
  background-color: #214478;
}
.blue {
  background-color: #672178;
}
.orange {
  background-color: #aa0044;
}

.communities {
  /* flex: 1 1 3; */
  background-color: #7d7669;
  /* width: 30%; */
  padding: 2rem;
}

.communities a {
  font-size: 1.5rem;
  color: #3f3338;
  margin-left: 2rem;
  text-decoration: none;
}

.communities a:hover {
  color: white;
  transition: 0.2s;
}

.communities h1 {
  color: #f1f0ed;
}

footer {
  padding: 1em;
  display: flex;
  background-color: #800033;
  color: #fff;
}

footer > span {
  margin-right: auto;
}

footer > a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
}

footer > a:hover {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

@media only screen and (max-width: 524px) {
  header.topnav {
    height: 100vh;
    overflow: hidden;
  }

  .brand > img {
    max-width: 250px;
  }

  .catch-phrase {
    width: 90%;
  }
  .catch-phrase > p {
    font-size: 1.3rem;
    padding: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .trending-discussions {
    display: flex;
    flex-direction: column;
  }

  .read-more-communities-container {
    flex-direction: column;
  }

  .communities {
    order: -1;
  }

  .something-to-read {
    padding: 2rem;
    grid-area: read-more;
  }

  .brand > img {
    width: 300px;
  }

  .catch-phrase > p {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 986px) {
  .trending-discussions {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "1 2"
      "3 4"
      "5 6";
  }
}
